<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="http://localhost:3000">
        <title>HOME</title>
        <script src="bundle.js"></script>
    </head>
    <body>
        <a href="/">ABCD</a>
        <img src="a.png" alt=""></img>
    </body>
</html>